     @font-face {
      font-family: 'SF Pro Display';
      src: url('/fonts/SFPRODISPLAYREGULAR.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
    }

    html {
      font-family:
        'SF Pro Display',
        -apple-system,
        BlinkMacSystemFont,
        'Helvetica Neue',
        Arial,
        sans-serif;
    }
